@font-face {
    font-family: 'Corbel';
    src: url('fonts/CORBELB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the texture background to the entire page */
body {
    font-family: 'Corbel', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #22293b; /* Background color */
}

/* General styles */
body {
    font-family: 'Corbel', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header with Logo and Company Name */
#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px; /* 10% smaller padding */
    background-color: #22293b; /* Background color */
}

#company-logo {
    width: 480px; /* 10% smaller width */
    height: auto; /* Maintain aspect ratio */
}

/* Quote Form */
#quote-form-section {
    padding: 36px 18px; /* 10% smaller padding */
    background-color: #2e3850; /* Background color */
    color: white;
}

#quote-form {
    max-width: 540px; /* 10% smaller max-width */
    margin: 0 auto;
    text-align: center;
    font-size: 36px; /* 10% smaller font-size */
}

#quote-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#quote-form .form-group {
    width: 48%;
}

#quote-form label {
    display: block;
    margin-bottom: 5px; /* Increased margin to add space between label and input */
    font-size: 24px; /* 10% smaller font-size */
    color: white;
}

#quote-form input[type="text"],
#quote-form input[type="email"],
#quote-form input[type="tel"],
#quote-form input[type="number"],
#quote-form select,
#quote-form textarea {
    width: 100%; /* 10% smaller width from 100% */
    padding: 10px; /* 10% smaller padding */
    margin-bottom: 10px; /* Added margin to separate input fields */
    border: 1px solid #575757;
    border-radius: 4.5px; /* 10% smaller border-radius */
    font-size: 18px; /* 10% smaller font-size */
    box-sizing: border-box;
}

#quote-form textarea {
    resize: none; /* Prevent resizing */
}

#quote-form input[type="submit"] {
    width: 100%; /* 10% smaller width from 100% */
    padding: 20px; /* 10% smaller padding */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4.5px; /* 10% smaller border-radius */
    font-size: 28px; /* 10% smaller font-size */
    cursor: pointer;
}

#quote-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Image and Text Description Section */
.image-text-section {
    padding: 18px; /* 10% smaller padding */
}

.image-text-container {
    margin: 18px auto; /* 10% smaller margin */
    padding: 9px 0; /* 10% smaller padding */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-text-container img {
    width: 906.66px; /* 10% smaller width from 1007.4px */
    height: 388.8px; /* 10% smaller height from 432px */
}

/* Adjust for left and right alignment */
.image-text-container.left {
    flex-direction: row;
    margin-right: 400px;
}

.image-text-container.right {
    flex-direction: row-reverse;
    margin-left: 400px;
}
