@font-face {
    font-family: 'Corbel';
    src: url('fonts/CORBELB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the texture background to the entire page */
body {
    font-family: 'Corbel', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #22293b; /* Background color */
}

/* Header with Logo and Company Name */
#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px; /* Padding */
    background-color: #22293b; /* Background color */
}

#company-logo {
    width: 480px; /* Width */
    height: auto; /* Maintain aspect ratio */
}

/* Quote Form */
#quote-form-section {
    padding: 36px 18px; /* Padding */
    background-color: #2e3850; /* Background color */
    color: white;
}

#quote-form {
    max-width: 540px; /* Max-width */
    margin: 0 auto;
    text-align: center;
}

#quote-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#quote-form .form-group {
    width: 48%;
}

#quote-form label {
    display: block;
    margin-bottom: 5px; /* Margin */
    font-size: 24px; /* Font size */
    color: white;
}

#quote-form input[type="text"],
#quote-form input[type="email"],
#quote-form input[type="tel"],
#quote-form input[type="number"],
#quote-form select,
#quote-form textarea {
    width: 100%; /* Width */
    padding: 10px; /* Padding */
    margin-bottom: 10px; /* Margin */
    border: 1px solid #575757;
    border-radius: 4.5px; /* Border radius */
    font-size: 18px; /* Font size */
    box-sizing: border-box;
}

#quote-form textarea {
    resize: none; /* Prevent resizing */
}

#quote-form input[type="submit"] {
    width: 100%; /* Width */
    padding: 20px; /* Padding */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4.5px; /* Border radius */
    font-size: 18px; /* Font size */
    cursor: pointer;
}

#quote-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Image and Text Description Section */
.image-text-section {
    padding: 18px; /* Padding */
}

.image-text-container {
    margin: 18px auto; /* Margin */
    padding: 9px 0; /* Padding */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-text-container img {
    width: 906.66px; /* Width */
    height: 388.8px; /* Height */
}

/* Adjust for left and right alignment */
.image-text-container.left {
    flex-direction: row;
    margin-right: 400px;
}

.image-text-container.right {
    flex-direction: row-reverse;
    margin-left: 400px;
}
