/* General Styles */
body {
    font-family: 'Corbel', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #22293b; /* Background color */
}



/* Header with Logo and Company Name */
#header-container {
    display: flex;
    flex-direction: column; /* Stack the logo and label vertically */
    align-items: center;
    padding: 18px; /* Padding */
    background-color: #22293b; /* Background color */
}

#company-logo {
    width: 320px; /* Width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space below the logo */
}

#logo-label {
    color: #ff9c01;
    font-size: 18px; /* Adjust the font size as needed */
    text-align: center;
}



/* Quote Form */
#quote-form-section {
    padding: 4px 18px; /* Padding */
    background-color: #2e3850; /* Background color */
    color: white;
    font-size: 18px;
}

#quote-form {
    max-width: 540px; /* Max-width */
    margin: 0 auto;
    text-align: center;
}

#quote-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center; /* Align items vertically */
}

#quote-form .form-group {
    width: 48%;
    display: flex;
    flex-direction: column;
}

#toggle-optional-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

#toggle-optional-fields {
    margin-top: 24px; /* Adjust the top margin for better alignment */
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4.5px;
    font-size: 18px;
    cursor: pointer;
}

#quote-form label[for="toggle-optional-fields"] {
    margin-top: 0px; /* Keep the margin above the label removed */
    margin-bottom: -22px; /* Negative margin to bring it closer to the button */
    color: rgb(116, 176, 255);
}




#quote-form input[type="text"],
#quote-form input[type="email"],
#quote-form input[type="tel"],
#quote-form input[type="number"],
#quote-form input[type="address"],
#quote-form select,
#quote-form textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    margin-bottom: 10px; /* Margin */
    border: 1px solid #575757;
    border-radius: 4.5px; /* Border radius */
    font-size: 18px; /* Font size */
    box-sizing: border-box;
}

#quote-form textarea {
    resize: none; /* Prevent resizing */
}

#quote-form input[type="submit"] {
    width: 100%; /* Full width */
    padding: 20px; /* Padding */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4.5px; /* Border radius */
    font-size: 24px; /* Font size */
    cursor: pointer;
    margin-bottom: 48px; /* Margin */
    font-family: 'Corbel', sans-serif;
}

#quote-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Optional Fields Toggle */
#optional-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#toggle-optional-fields {
    padding: 10px 20px; /* Padding */
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4.5px; /* Border radius */
    font-size: 18px; /* Font size */
    cursor: pointer;
    margin-bottom: 12px;
}

#toggle-optional-fields:hover {
    background-color: #b1b1b1;
}




/* Image Section */
.image-section {
    padding: 18px; /* Padding */
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 18px; /* Space between rows */
}

.image-container img {
    width: 540px; /* Adjust width as needed */
    height: 540px; /* Adjust height as needed */
    margin: 0 9px; /* Space between images */
}

/* Adjust for left and right alignment */
.image-text-container.left {
    flex-direction: row;
    margin-right: 400px;
}

.image-text-container.right {
    flex-direction: row-reverse;
    margin-left: 400px;
}
